canvas {
  position: fixed;
  top: 0;
  left: 0;
}

.maintitle {
  width: auto;
  top: 30pt;
  left: 50%;
  transform: translate(-50%, 0);
  position: absolute;
  
  text-align: center;
  color: #2F394D;
  /*border: 3px solid green;*/

  pointer-events: none;
  
  font-size: 50pt;
  font-weight: bold;  
  font-family: Arial, Helvetica, sans-serif;
}

#smallText {
  font-size: 13pt;
  font-weight: normal;
}

.porchelogo
{
  position: absolute;
  bottom: 30pt;
  right: 30pt;
  margin: auto;
  width: 100pt;
  height: 100pt;
  pointer-events: none;

}